body{
    background-color:#cbb8dd;
    color:#551a8b;
}
p{
    color:#5d478b;
}
#p1{
    color:#7d26cd;
}
*{
  font-family: Arial, sans-serif;  
}
table,tr,td,th{
    border-collapse: collapse;
    border: 2px solid #815781;
    padding: 5px;
}
input{
    border-radius: 8px;
    margin: 10px;
    background-color: #473c8b;
}
input:hover{
    background-color:#836fff;
}